div {
    width: 600px;
    margin: 10px auto;
    box-sizing: border-box;
}
.satu {
    background-color: darkorange;
    padding: 10px;
    border: 5px solid black;
}
.dua {
    background-color: yellow;
    padding: 30px;
    border: 10px dashed red;
}